In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['Train.csv', 'Test.csv']

In [2]:
df_train=pd.read_csv("../input/Train.csv")
df_test=pd.read_csv("../input/Test.csv")

In [3]:
print("The shape of the train dataset is"+str(df_train.shape))
print("The shape of the test dataset is"+str(df_test.shape))

The shape of the train dataset is(33750, 15)
The shape of the test dataset is(14454, 14)

In [4]:
#lets do some pre processing first
df_train.describe()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,traffic_volume
count,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000,33750.000000
mean,154.841422,71.209007,3.378193,199.471852,4.989748,4.989748,280.069587,0.448739,0.000318,50.458785,3240.118163
std,83.735515,16.852248,2.055792,99.841088,2.570021,2.570021,13.415256,53.526500,0.009760,38.871734,1991.487289
min,10.000000,13.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,83.000000,60.000000,2.000000,130.000000,3.000000,3.000000,271.720000,0.000000,0.000000,1.000000,1165.250000
50%,155.000000,72.000000,3.000000,200.000000,5.000000,5.000000,280.150000,0.000000,0.000000,64.000000,3335.000000
75%,228.000000,85.000000,5.000000,290.000000,7.000000,7.000000,290.620000,0.000000,0.000000,90.000000,4926.000000
max,299.000000,100.000000,16.000000,360.000000,9.000000,9.000000,308.240000,9831.300000,0.510000,100.000000,7280.000000

In [5]:
#df_train.drop_duplicates(keep='first',subset=["date_time","traffic_volume"],inplace=True)#
df_train.shape
#df_train.drop(["date_time"],inplace=True,axis=1)

(33750, 15)

In [6]:
#df_train["weather_description"]=df_train["weather_description"].str.replace("Sky is Clear","sky is clear")#

In [7]:
#df_train["weather_description"].unique()
#df_test["is_holiday"].unique()

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33750 entries, 0 to 33749
Data columns (total 15 columns):
date_time              33750 non-null object
is_holiday             33750 non-null object
air_pollution_index    33750 non-null int64
humidity               33750 non-null int64
wind_speed             33750 non-null int64
wind_direction         33750 non-null int64
visibility_in_miles    33750 non-null int64
dew_point              33750 non-null int64
temperature            33750 non-null float64
rain_p_h               33750 non-null float64
snow_p_h               33750 non-null float64
clouds_all             33750 non-null int64
weather_type           33750 non-null object
weather_description    33750 non-null object
traffic_volume         33750 non-null int64
dtypes: float64(3), int64(8), object(4)
memory usage: 3.9+ MB

In [9]:
#df_train["weather_description"].unique()#

In [10]:
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
#train
df_train["is_holiday"]=LE.fit_transform(df_train["is_holiday"])
#df_train["weather_description"] = LE.fit_transform(df_train["weather_description"])
df_train["weather_type"] = LE.fit_transform(df_train["weather_type"])
#test
df_test["is_holiday"]=LE.fit_transform(df_test["is_holiday"])
#df_test["weather_description"] = LE.fit_transform(df_test["weather_description"])
df_test["weather_type"] = LE.fit_transform(df_test["weather_type"])

In [11]:
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,mean_squared_log_error
from sklearn.model_selection import train_test_split

In [12]:
#df_train.head(10)

In [13]:
#splitting the test and train dataset
train=df_train[0:29650]
val=df_train[29650:]
train.reset_index(inplace=True,drop=True)
val.reset_index(inplace=True,drop=True)

In [14]:
#train.tail(10)
#val.head(5)

In [15]:
#train.head(5)

In [16]:
x_train=train.drop(["traffic_volume","date_time","weather_description"],axis=1)
y_train=train["traffic_volume"]
x_val=val.drop(["traffic_volume","date_time","weather_description"],axis=1)
y_val=val["traffic_volume"]
x_test=df_test.drop(["date_time","weather_description"],axis=1)
x_train.shape,y_train.shape,x_val.shape,y_val.shape

((29650, 12), (29650,), (4100, 12), (4100,))

In [17]:
import math as m

In [18]:
#train.isna().sum(),val.isna().sum()

In [19]:
#rfmodel=RandomForestRegressor(n_estimators= 10, min_samples_split= 2, min_samples_leaf= 5, max_features= 4, max_depth= 8, bootstrap= False)
#rfmodel.fit(x_train,y_train)

In [20]:
#predicted=rfmodel.predict(x_test)

In [21]:
#rmse=m.sqrt(mean_squared_log_error(y_val,predicted))
#rmse

In [22]:
#predicted.shape##

In [23]:
#submission#

In [24]:
def report(result,n_top):
    for i in range(1,n_top+1):
        candidates=np.flatnonzero(result["rank_test_score"]==i)
        for cand in candidates:
            print("Model with rank {0}".format(i))
            print("The mean test score is {0:.5f} and the std_dev is{1:.5f}".format(result["mean_test_score"][cand],result["std_test_score"][cand]))
            print("the parameter of the {0}".format(result["params"][cand]))
            print("")

In [25]:
#rfreg=RandomForestRegressor(n_jobs=-1,verbose=2)

In [26]:
#random_grid = {'n_estimators': [2,4,6,8,10,12],
 #              'max_features': [2,4,6,8,10],
  #             'max_depth': [None,2,4,6,8,10],
   #            'min_samples_split': [2,3,4,6,8],
    #           "min_samples_leaf":[2,3,4,5,6],
     #         'bootstrap': [True,False]}

In [27]:
#n_iterations=30
#random_search=RandomizedSearchCV(rfreg,param_distributions=random_grid,cv=10,
#                                 n_iter=n_iterations)

In [28]:
#random_search.fit(x_train,y_train)

In [29]:
#report(random_search.cv_results_,10)

In [30]:
#xgboost parameters tuning 
#grid_search={ 
 #         
  ##          
    #           "n_estimators":[2,4,6,8,10],
     #        'min_child_weight':[1,3,5,6,7]}#

In [31]:
import math as m

In [32]:
#df_train["is_holiday"]=LE.fit_transform(df_train["is_holiday"])
#df_train["weather_description"] = LE.fit_transform(df_train["weather_description"])
#df_train["weather_type"] = LE.fit_transform(df_train["weather_type"])
#test
#df_test["is_holiday"]=LE.fit_transform(df_test["is_holiday"])
#df_test["weather_description"] = LE.fit_transform(df_test["weather_description"])
#df_test["weather_type"] = LE.fit_transform(df_test["weather_type"])

In [33]:
df_train.head()

,date_time,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
0,2012-10-02 09:00:00,7,121,89,2,329,1,1,288.28,0.0,0.0,40,1,scattered clouds,5545
1,2012-10-02 10:00:00,7,178,67,3,330,1,1,289.36,0.0,0.0,75,1,broken clouds,4516
2,2012-10-02 11:00:00,7,113,66,3,329,2,2,289.58,0.0,0.0,90,1,overcast clouds,4767
3,2012-10-02 12:00:00,7,20,66,3,329,5,5,290.13,0.0,0.0,90,1,overcast clouds,5026
4,2012-10-02 13:00:00,7,281,65,3,329,7,7,291.14,0.0,0.0,75,1,broken clouds,4918

In [34]:
tr_final=df_train.drop(["date_time","weather_description"],axis=1)

In [35]:
#tr_final.head(5)
#x_test.head()

In [36]:
tr_final_x=tr_final.drop(["traffic_volume"],axis=1)
tr_final_y=tr_final["traffic_volume"]

In [37]:
tr_final_x.reset_index(drop=True,inplace=True)
tr_final_y.reset_index(drop=True,inplace=True)

In [38]:
from xgboost import XGBRegressor
import xgboost as xgb

#xgmodel=XGBRegressor(booster='dart', colsample_bytree= 0.9, gamma= 0.0, learning_rate= 0.3,   
  #                   min_child_weight=3,n_estimators=10,
 #                    reg_alpha= 0.01, subsample= 0.9)
#xgmodel.fit(tr_final_x,tr_final_y)

#predicted=xgmodel.predict(x_test)
#rmse=m.sqrt(mean_squared_log_error(y_val,predicted))
#rmse

In [39]:
#gsearch1 = GridSearchCV(estimator=xgmodel,verbose=2,param_grid=grid_search
 #                       ,n_jobs=4, cv=5)
#gsearch1.fit(x_train,y_train)

In [40]:
#report(gsearch1.cv_results_,10)

In [41]:
#report(gsearch1.cv_results_,10)

In [42]:
#from sklearn.linear_model import LinearRegression

#lmodel=LinearRegression()
#lmodel.fit(x_train,y_train)
#predicted=lmodel.predict(x_val)
#rmse=m.sqrt(mean_squared_log_error(y_val,predicted))
#rmse

In [43]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from xgboost import XGBRFRegressor
from sklearn.ensemble import ExtraTreesRegressor

In [44]:
#lets try stcking here now
reg1=RandomForestRegressor()
reg2=DecisionTreeRegressor()
reg3=AdaBoostRegressor()
reg4=XGBRFRegressor()
reg5=ExtraTreesRegressor()

In [45]:
#making the list of all the regressors

In [46]:
rows=tr_final_x.shape[0]
rows

33750

In [47]:
layer1=pd.DataFrame({"reg1":np.zeros(rows),"reg2":np.zeros(rows),
                    "reg3":np.zeros(rows),"reg4":np.zeros(rows),"reg5":np.zeros(rows)})

#layer1=pd.DataFrame({'clf1':np.zeros(rows),'clf2':np.zeros(rows),'clf3':np.zeros(rows),
 #                   'clf4':np.zeros(rows),'clf5':np.zeros(rows)})

In [48]:
layer1

       reg1  reg2  reg3  reg4  reg5
0       0.0   0.0   0.0   0.0   0.0
1       0.0   0.0   0.0   0.0   0.0
2       0.0   0.0   0.0   0.0   0.0
3       0.0   0.0   0.0   0.0   0.0
4       0.0   0.0   0.0   0.0   0.0
5       0.0   0.0   0.0   0.0   0.0
6       0.0   0.0   0.0   0.0   0.0
7       0.0   0.0   0.0   0.0   0.0
8       0.0   0.0   0.0   0.0   0.0
9       0.0   0.0   0.0   0.0   0.0
10      0.0   0.0   0.0   0.0   0.0
11      0.0   0.0   0.0   0.0   0.0
12      0.0   0.0   0.0   0.0   0.0
13      0.0   0.0   0.0   0.0   0.0
14      0.0   0.0   0.0   0.0   0.0
15      0.0   0.0   0.0   0.0   0.0
16      0.0   0.0   0.0   0.0   0.0
17      0.0   0.0   0.0   0.0   0.0
18      0.0   0.0   0.0   0.0   0.0
19      0.0   0.0   0.0   0.0   0.0
20      0.0   0.0   0.0   0.0   0.0
21      0.0   0.0   0.0   0.0   0.0
22      0.0   0.0   0.0   0.0   0.0
23      0.0   0.0   0.0   0.0   0.0
24      0.0   0.0   0.0   0.0   0.0
25      0.0   0.0   0.0   0.0   0.0
26      0.0   0.0   0.0   0.0   0.0
27      0.0   0.0   0.0   0.0   0.0
28      0.0   0.0   0.0   0.0   0.0
29      0.0   0.0   0.0   0.0   0.0
...     ...   ...   ...   ...   ...
33720   0.0   0.0   0.0   0.0   0.0
33721   0.0   0.0   0.0   0.0   0.0
33722   0.0   0.0   0.0   0.0   0.0
33723   0.0   0.0   0.0   0.0   0.0
33724   0.0   0.0   0.0   0.0   0.0
33725   0.0   0.0   0.0   0.0   0.0
33726   0.0   0.0   0.0   0.0   0.0
33727   0.0   0.0   0.0   0.0   0.0
33728   0.0   0.0   0.0   0.0   0.0
33729   0.0   0.0   0.0   0.0   0.0
33730   0.0   0.0   0.0   0.0   0.0
33731   0.0   0.0   0.0   0.0   0.0
33732   0.0   0.0   0.0   0.0   0.0
33733   0.0   0.0   0.0   0.0   0.0
33734   0.0   0.0   0.0   0.0   0.0
33735   0.0   0.0   0.0   0.0   0.0
33736   0.0   0.0   0.0   0.0   0.0
33737   0.0   0.0   0.0   0.0   0.0
33738   0.0   0.0   0.0   0.0   0.0
33739   0.0   0.0   0.0   0.0   0.0
33740   0.0   0.0   0.0   0.0   0.0
33741   0.0   0.0   0.0   0.0   0.0
33742   0.0   0.0   0.0   0.0   0.0
33743   0.0   0.0   0.0   0.0   0.0
33744   0.0   0.0   0.0   0.0   0.0
33745   0.0   0.0   0.0   0.0   0.0
33746   0.0   0.0   0.0   0.0   0.0
33747   0.0   0.0   0.0   0.0   0.0
33748   0.0   0.0   0.0   0.0   0.0
33749   0.0   0.0   0.0   0.0   0.0

[33750 rows x 5 columns]

In [49]:
from sklearn.model_selection import KFold

In [50]:
kf=KFold(n_splits=10)

In [51]:
#fold=1
#for train,left_out_chunk in kf.split(tr_final_x):
 #   print('fold number : ', fold)
    
  #  for i,clf in enumerate(Algo):
   #     print('Algo number :',i+1)
        
    #    x_train_train=tr_final_x.loc[train]
     #   y_train_train=tr_final_y[train]
      #  x_train_left_out_chunk=tr_final_x.loc[left_out_chunk]
        
       # clf.fit(x_train_train,y_train_train)
       # p=clf.predict(x_train_left_out_chunk)[:,1]
        
        #layer1.iloc[left_out_chunk,i]=p
        
    #fold+=1

In [52]:
reg1.fit(tr_final_x,tr_final_y)
reg2.fit(tr_final_x,tr_final_y)
reg3.fit(tr_final_x,tr_final_y)
reg4.fit(tr_final_x,tr_final_y)
reg5.fit(tr_final_x,tr_final_y)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/opt/conda/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/opt/conda/lib/python3.6/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[18:05:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
                    max_features='auto', max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
                    oob_score=False, random_state=None, verbose=0,
                    warm_start=False)

In [53]:
pre1=reg1.predict(x_val)
pre2=reg2.predict(x_val)
pre3=reg3.predict(x_val)
pre4=reg4.predict(x_val)
pre5=reg5.predict(x_val)

In [54]:
pred1=reg1.predict(x_test)
pred2=reg2.predict(x_test)
pred3=reg3.predict(x_test)
pred4=reg4.predict(x_test)
pred5=reg5.predict(x_test)

In [55]:
stacked_pred=np.column_stack((pre1,pre2,pre3,pre4,pre5))
stacked_test=np.column_stack((pred1,pred2,pred3,pred4,pred5))

In [56]:
stacked_pred.shape,stacked_test.shape

((4100, 5), (14454, 5))

In [57]:
from sklearn.linear_model import LinearRegression

In [58]:
meta_model=LinearRegression()

In [59]:
meta_model.fit(stacked_pred,y_val)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [60]:
predicted=meta_model.predict(stacked_test)

In [61]:
col=df_test["date_time"]
submission=pd.DataFrame([col,predicted]).T
#submission.rename({date_time:"date_time",0:"traffic_volume"})
submission.to_csv("submission_metro.csv",header=["date_time","traffic_volume"],index=False)